<div class="items-center justify-center flex h-full">
    <div class="select-none bg-gray-50 p-5 rounded-lg mx-5 w-auto">
        <img class="cursor-wait mx-auto" src="https://s2.qwant.com/thumbr/0x0/e/7/f1d45a0f54649bf72575832fc8b700f3409c50c05747fd7bf58f657fec415d/DismalIdioticBrownbutterfly-size_restricted.gif?u=https%3A%2F%2Fthumbs.gfycat.com%2FDismalIdioticBrownbutterfly-size_restricted.gif&q=0&b=1&p=0&a=1">
        <br>
        <h1 class="text-xl">This section is under construction, come back later !</h1>
    </div>
</div>