<div class="items-center justify-center flex h-5/6">
    <div class="bg-gray-50 p-5 rounded-lg w-1/6">

        <div style="position: relative; top: -5vh" class="bg-blue-700 text-center py-3 w-4/6 mx-auto">
            <p class="text-2xl">Inscription</p>
        </div>

        <mat-form-field class="w-full pt-0">
            <mat-label>Nom</mat-label>
            <input matInput type="text" [(ngModel)]="nom" required>
            <!-- <button mat-button *ngIf="nom" matSuffix mat-icon-button (click)="nom=''">
              <mat-icon>close</mat-icon>
            </button> -->
        </mat-form-field>
        <br>

        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="email" [formControl]="emailcheck" required>
            <mat-error *ngIf="emailcheck.invalid">{{getErrorMessageEmail()}}</mat-error>
            <!-- <button mat-button *ngIf="email" matSuffix mat-icon-button (click)="email=''">
              <mat-icon>close</mat-icon>
            </button> -->
        </mat-form-field>
        <br>

        <mat-form-field class="w-full">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" [(ngModel)]="password1" [formControl]="passwordcheck1" required>
            <mat-error *ngIf="passwordcheck1.invalid">{{getErrorMessagePassword1()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>

        <mat-form-field class="w-full">
            <mat-label>Confirmer mot de passe</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" [(ngModel)]="password2" [formControl]="passwordcheck2" required>
            <mat-error *ngIf="passwordcheck2.invalid">{{getErrorMessagePassword2()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>

        <p class="text-center text-gray-500 mt-5">
            Déja un compte ?
            <br>
            <button class="text-gray-700" routerLink="/login">Se connecter</button>
        </p>
        <br>

        <button (click)='register()' class="w-full" mat-raised-button>S'inscrire</button>

    </div>
</div>